.event_head{
    background-color: brown;
    color: #fff;
    border-radius: 10px;
}

.event_head h2{
    margin-bottom: 0;
}

.event_card{
    border: 2px solid #a52a2a;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 25px;
}

.event_card img{
    border-radius: 10px;
}

.event_date p{
    font-weight: 500;
}